@import url('https://fonts.googleapis.com/css?family=Montserrat|Shadows+Into+Light');

/*-------------------------------main-----------*/

body {
    padding-top: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    background-color: #343a40;
    color: #fafafa;


}

/*-------------------------------Nav-----------*/

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
}

.navbar-collapse {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    text-align: center;
}

/*--------------------------Carousel Header-----------*/

.carousel-caption {

    font-size: xx-large;
    color: #f7b801;
    right: 0%;
    text-align: right;
    max-width: 1000px;
    left: auto;
    margin-right: 20px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}


/*-------------------------------about-----------*/

.aboutgella {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
    width: 100%;


}

.aboutpic {
    height: 325px;
    background-image: url('../images/gellafest.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.gellabio {
    padding-top: 25px;
    height: 325px;
    background-color: #f75c03;
    text-align: left;
    padding-left: 25px;

}

.gellaaudio {
    padding-top: 25px;
    height: 325px;
    background-color: #f75c03;
    text-align: left;
    padding-left: 25px;

}




/*-------------------------------Tour-----------*/

.tourPic {
    padding-left: 0;
    padding-right: 0;
}

.livehead {
    color: #ffffff;
    padding-left: 15px;
    text-align: center;
    padding-top: 150px;
}

.livehead2 {
    color: #ffffff;
    padding-left: 15px;
    text-align: center;
}

.gellaLivePic {
    height: 325px;
    width: 100%;
    background-image: url('../images/gellaDJ.jpg');

    background-repeat: no-repeat;
    background-size: cover;

}

/*-------------------------------Contact-----------*/

.btn-primary {
    background-color: #000000;
    width: 100%;
    border-color: #000000;
}

.btn-primary:hover {
    background-color: #f75c03;
    border-style: none;
}

.btn-primary:action {
    background-color: #f75c03;
    border-style: none;
}

.form-control {
    border-color: #778899;
    background-color: #778899;
    color: #ffffff;
}

.form-control::-webkit-input-placeholder {
    color: #ffffff;

}

#inputNamel4,
#inputEmail4,
#inputPhone4,
#inputState,
#exampleFormControlTextarea1 {
    background-color: #778899;
    color: #ffffff;

}




/*-------------------------------Footer-----------*/

footer {

    background-color: #343a40;
    margin: 0;
    padding-top: 10px;
    text-align: left;

}




footer p {
    color: #ffffff;
}

.social-links {
    text-align: right;
    padding-top: 25px;
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.general-sub {
    font-family: 'Shadows Into Light', cursive;
    font-size: x-large;
    color: #ffffff;
}

.general-sub2 {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    text-align: right;
    color: #ffffff;

}

.social-links li a i:hover {
    background: #f75c03;
}



.copyright {
    font-size: small;
    margin-top: -50px;
}
