/*-------------------------------main-----------*/
 body {
    padding-top: 55px;
    font-family: 'Montserrat', sans-serif;
  }

.header-img {
    background: url("/assets/images/synth.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 45%; 
}

.navbar-brand {
   font-family: 'Montserrat', sans-serif;
   font-size: x-large;
}
    
 /*-------------------------------about-----------*/   

.aboutgella {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    width: 100%;
   
}

.aboutpic {
    height: 325px;
    width: 100%;
    background-image: url(/assets/images/gellafest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
    
}

.audiostuff {
    height: 325px;
    width: 100%;
    background-color: #f7b801;
    
}


.lrabout {
    
  padding: 0;
  display: flex;
}


  


.lrabout {
    
  padding: 0;
  display: flex;
}

.left-half {
  text-align: center;    
  background-image: url('/assets/images/gellaprofile.jpg');
  background-color: #a0a0a0;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color:#000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  flex: 1;
  padding: 1rem;
  height: 650px;
}
  


.right-half {
  text-align: center; 
  font-family: 'Montserrat', sans-serif;
  background-image: url('/assets/images/pattern-matrix-300-thumb.jpg');
  background-color: #7d7d7d;
  background-blend-mode: screen;
  color:#000000;
  font-weight: bold;
  flex: 1;
  padding: 1rem;
}

.right-half2 {
    flex: 1;
  padding: 1rem;
    
}


/*-------------------------------Footer-----------*/

footer {
   
    background-color: #343a40;
    margin: 0;
    padding-top: 10px;
    text-align: left;
}

footer p{
    color: #ffffff;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.general-sub {
    color: #ffffff;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    margin: 20px;}


