/*-------------------------------Footer-----------*/

footer{
    background-color: #400606;
    border-top: solid 4px #000;
    
    background-size: contain;
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

.row {
    margin-left: 10px
}


.copyright{
   
    padding-bottom: 10px;
}

.fa-copyright{
    color: #000000;
}

.footer-menu ul{
    padding-left: 0;
    padding-top: 30px;
    vertical-align: central;
}

.footer-menu li{
    list-style: none;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
}


.footer-menu li a{
    color: #000000;
}

.footer-menu li::before{
    content: '/';
    color: #696969;
    font-size: 15px;
    position: relative;
    left: -4px;
    top: 2px;
}

.footer-menu li:first-child:before {
    content: "" !important;
}

.fas{
    font-size: 18px;
}


footer p{
    color: #000000;
}

.page-active-footer{
    height: 25px;
    background-color: #3a3737;
    border-radius: 8px;   
    
}